[bumpversion]
current_version = 0.1.6-dev8
commit = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}-{release}{build}
	{major}.{minor}.{patch}

[bumpversion:file:setup.py]

[bumpversion:file:cardanopy/__init__.py]

[bumpversion:file:cloudbuild.yaml]

[bumpversion:file:../cardano-py-slim/Dockerfile]

[bumpversion:part:release]
optional_value = prod
first_value = dev
values = 
	dev
	prod

[bumpversion:part:build]
first_value = 1
